@import url(variables.css);

body{
    margin: 0px;
    padding: 0px;
}

#navbar{
    height: 45px;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 1;
}

#genredrop{
    display: none;
    width: 400px;
    background-color: aliceblue;
}

#genres:hover #genredrop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.dropped{
    width: 30%;
}

#content{
    display: flex;
}

#page{
    width: 20px;
    height: 15px;
    margin: 5px;
}

#pagenum{
    display: flex;
    align-items: center;
    margin: 5px;
}

#footer{
    display: flex;
    align-items: center;
}

.pageselector{
    height: 20px;
}

div{
    border: 1px solid black;
}

#flexbox{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
}