@import url(variables.css);

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--grey);
}

#navbar{
    height: 45px;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 1;
    padding: none;
    flex-wrap: nowrap;
    background-color: var(--black);
}

#genredrop{
    display: none;
    width: 600px;
    background-color: var(--grey2);
    height: auto;
}

#genres:hover #genredrop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#home, #random, #genre{
    width: 200px;
    height: 100%;
    background-color: var(--black);
    color: var(--grey2);
    border: none;
}

#home:hover, #random:hover{
    background-color: var(--lessblack);
}

#genres:hover #genre{
    width: 100%;
    background-color: var(--lessblack);
}

.dropped{
    width: 21%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    border-radius: 5px;
}

.dropped:hover{
    background-color: var(--grey3);
    cursor: pointer;
}

#search{
    height: 100%;
    border: none;
}

#submit{
    background-color: var(--black);
    height:100%;
    width: 50px;
    border: none;
    color:var(--grey2);

}

#submit:hover{
    background-color: var(--lessblack);
}

.content{
    display: flex;
    height: 200px;
    margin: 25px;
    background-color: var(--lessblack);
}

.content img{
    width: 100%;
    height: 100%;
}

#imageholder{
    width: 300px;
    height: 100%;
}

#half1{
    width: 50%;
    display: flex;
}

#half2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#page{
    width: 20px;
    height: 15px;
    margin: 5px;
}

#pagenum{
    display: flex;
    align-items: center;
    margin: 5px;
}

#footer{
    display: flex;
    align-items: center;
}

.pageselector{
    height: 20px;
}

div{
    border: 1px solid black;
}

#flexbox{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
}